@model AnswerCreateModel
@{
    ViewData["Title"] = "Answer";
}


@section Styles{
    <link rel="stylesheet" src="~/stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
    <link rel="stylesheet" href="~/stackoverflow/stacks/dist/css/stacks.min.css" />
    <link rel="stylesheet" href="~/stackoverflow/stacks/dist/css/stacks.css" />
    <link rel="stylesheet" src="~/stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
}

<form id="questionForm" asp-action="Answer" asp-controller="Questions" asp-area="User" asp-antiforgery="true" method="post">

    <input type="hidden" asp-for="QuestionId" />

    <div class="form-group mb-3">
        <label class="s-label" asp-for="AnswerBody">What did you try and what were you expecting?</label>
        <p class="s-description mtn2 mb0">Describe what you tried, what you expected to happen, and what actually resulted. Minimum 20 characters.</p>
        <div id="editor-example-2"></div>
        <textarea id="editor-content-2" asp-for="AnswerBody" class="d-none"></textarea>
        <span asp-validation-for="AnswerBody" class="text-danger"></span>
    </div>

    <button class="s-btn s-btn__filled mb-3" type="submit">Post Your Answer</button>
    <br />
</form>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/app.bundle.js"></script>
    <script>
        // Event listener for submitting the form
        document.querySelector("#questionForm").addEventListener("submit", function (event) {

            // Get the element containing the user input for "Details"
            var userInputDiv1 = document.querySelector('#editor-example-1 .s-prose');

            // Get the inner HTML of the user input element for "Details"
            var userInputHTML1 = userInputDiv1.innerHTML;

            // Set the content of "Details" hidden textarea
            document.querySelector("#editor-content-1").value = userInputHTML1;

            // Get the element containing the user input for "TriedApproach"
            var userInputDiv2 = document.querySelector('#editor-example-2 .s-prose');

            // Get the inner HTML of the user input element for "TriedApproach"
            var userInputHTML2 = userInputDiv2.innerHTML;

            // Set the content of "TriedApproach" hidden textarea
            document.querySelector("#editor-content-2").value = userInputHTML2;

        });

        // Initialize Stacks Editor for "TriedApproach"
        new window.stacksEditor.StacksEditor(
            document.querySelector("#editor-example-2"),
            document.querySelector("#editor-content-2").value,
            {
                parserFeatures: {
                    tables: true,
                },

            }
        );

        // Initialize Stacks Editor for "Details"
        new window.stacksEditor.StacksEditor(
            document.querySelector("#editor-example-1"),
            document.querySelector("#editor-content-1").value,
            {
                parserFeatures: {
                    tables: true,
                },
            }
        );

    </script>
}

