@model QuestionCreateModel
@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <!-- Include the bundled styles -->
    <link rel="stylesheet" src="~/stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <style>
        .form-group {
            background-color: #ffffff;
            border: 1px solid #ced4da; /* Border color */
            border-radius: 0.67rem; /* Rounded corners */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow */
            padding: 1rem; /* Padding around the content */
            margin-bottom: 1rem; /* Space between form groups */
        }

        .form-group .s-label,
        .form-group .s-description,
        .form-group .s-input,
        .form-group .select2 {
            margin-bottom: 0.8rem; /* Adjust as needed */
        }
    </style>
}



<div class="col-md-10">
    <br />
    <h1>Ask A  Question</h1>
    <br />
    <form id="questionForm" asp-action="Create" asp-area="User" asp-antiforgery="true" method="post">



        <div class="form-group mb-3">
            <label class="s-label" asp-for="Title">Title</label>
            <p class="s-description mtn2 mb0">Be specific and imagine you’re asking a question to another person.</p>
            <input class="s-input" asp-for="Title" id="example-item1" type="text" placeholder="e.g. How to return the wrong fruit if it is the first item in the array?" />
        </div>

        <br />

        <div class="form-group mb-3">
            <label class="s-label" asp-for="Details">What are the details of your problem?</label>
            <p class="s-description mtn2 mb0">Introduce the problem and expand on what you put in the title. Minimum 20 characters.</p>
            <textarea id="editor-content-1" asp-for="Details" class="d-none"></textarea>
            <div id="editor-example-1"></div>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group mb-3">
            <label class="s-label" asp-for="TriedApproach">What did you try and what were you expecting?</label>
            <p class="s-description mtn2 mb0">Describe what you tried, what you expected to happen, and what actually resulted. Minimum 20 characters.</p>
            <textarea id="editor-content-2" asp-for="TriedApproach" class="d-none"></textarea>
            <div id="editor-example-2"></div>
            <span asp-validation-for="TriedApproach" class="text-danger"></span>
        </div>

        <br />


        <div class="form-group">
            <label class="s-label" asp-for="Tags">Tags</label>
            <p class="s-description mtn2 mb0">Add up to 5 tags to describe what your question is about. Start typing to see suggestions.</p>
            <div class="select2-primary">
                <select id="tags" class="select2" asp-for="Tags" asp-items="Model.MultiTags" multiple="multiple" data-placeholder="Select tags" data-dropdown-css-class="select2-primary" style="width: 100%;">

                </select>
            </div>
        </div>

        <br />

        <button class="s-btn s-btn__filled mb-3" type="submit">Post Your Question</button>
        <br />
    </form>
</div>






@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/app.bundle.js"></script>
    <script src="~/AdminLTE/plugins/select2/js/select2.full.min.js"></script>

    <script>

        $('#tags').select2();

    </script>


    <script>
        // Event listener for submitting the form
        document.querySelector("#questionForm").addEventListener("submit", function (event) {



            // Get the element containing the user input for "TriedApproach"
            var userInputDiv2 = document.querySelector('#editor-example-2 .s-prose');

            // Get the inner HTML of the user input element for "TriedApproach"
            var userInputHTML2 = userInputDiv2.outerHTML;

            // Set the content of "TriedApproach" hidden textarea
            document.querySelector("#editor-content-2").value = userInputHTML2;

        });

        // Initialize Stacks Editor for "TriedApproach"
        new window.stacksEditor.StacksEditor(
            document.querySelector("#editor-example-2"),
            document.querySelector("#editor-content-2").value,
            {
                parserFeatures: {
                    tables: true,
                },
               
            }
        );

        // Initialize Stacks Editor for "Details"
        new window.stacksEditor.StacksEditor(
            document.querySelector("#editor-example-1"),
            document.querySelector("#editor-content-1").value,
            {
                parserFeatures: {
                    tables: true,
                },
            }
        );

    </script>

}





