@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Courses";
}
@section Styles
    {
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
}

<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table id="questions" class="table table-bordered table-striped">
                <tbody>
                    <!-- DataTable rows will be dynamically inserted here -->
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#questions").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                ajax: {
                    url: "/User/Questions/GetQuestions",
                    type: "POST",
                },
                columns: [
                    { data: "data" }, // Adjust the data property to match the actual property name
                ],
                initComplete: function () {
                    var dataTable = $('#questions').DataTable(); // Fix the selector here
                    dataTable.rows().every(function () {
                        var data = this.data();
                        var cardHtml = `<div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${data.QuestionTitle}</h5>
                                        <p class="card-text">${data.QuestionBody}</p>
                                        <p class="card-text"><small class="text-muted">${data.TagName}</small></p>
                                    </div>
                                </div>`;
                        $(this.node()).empty().append(cardHtml);
                    });
                },
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#questions_wrapper'); // Fix the selector here
        });
    </script>
}
