@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="s-notice s-notice__warning" role="status">
                <p>To do this task you must logged in and have to earn more reputation .  </p>
            </div>
        </div>
    </div>
</div>

