
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - DashBoard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/stackoverflow/stacks-editor/dist/styles.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles",required : false);
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/AdminLTE/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md layout-navbar-fixed navbar-light bg-white ">
            <div class="container ">
                <div class="row w-100">
                    <div class="col-1">
                        <!-- Optional: Add content if needed -->
                    </div>
                    <div class="col-4 d-flex justify-content-between align-items-center">


                        <!-- Logo and Product/About Buttons -->
                        <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/logo4.png" alt="Stack Overflow Logo" class="img-fluid align-self-center mt-1 s-topbar--item" style="max-width: 60px; height:50px;">
                            <span class="logo-text s-topbar--item" style="font-size: 2.0rem; margin-left: 8px;">Stack<span style="font-weight: bold;">Overflow</span></span>
                        </a>

                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">

                        <a class="navbar-brand s-topbar--item" style="font-size:1rem" href="#">Product</a>
                        <a class="navbar-brand s-topbar--item" style="font-size:1rem" href="#">About</a>
                        <!-- Search Part -->
                        <form class="d-flex flex-grow-2 me-1 s-topbar--item">
                            <div class="input-group input-group-sm s-topbar--item">
                                <button class="btn btn-navbar " type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <input class="form-control me-2 flex-grow-1 custom-search-input " type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </form>
                        <!-- LoginPartial -->
                        <div>
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-dark elevation-4">


            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-3">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <br></br>
                        <li class="nav-item">
                            <a  class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="questions" asp-action="index" asp-area="user" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Questions
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../kanban.html" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Tags
                                </p>
                            </a>
                        </li>
                    </ul>
                    <br></br>
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-header"></li>
                        <li class="nav-item">
                            <a href="../calendar.html" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Saves
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../gallery.html" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Users
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../kanban.html" class="nav-link">
                                <i class="nav-icon fas fa-columns"></i>
                                <p>
                                    Companies
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <a href="https://stackoverflow.com/">
                        <img src="~/logo4.png" alt="Stack Overflow Logo">
                        <span class="logo-textFooter">Stack Overflow</span>
                    </a>

                </div>
                <div class="footer-links">
                    <div class="footer-category">
                        <span class="category-header">STACK OVERFLOW</span>
                        <a href="https://stackoverflow.com/questions">Questions</a>
                        <a href="https://stackoverflow.com/help">Help</a>
                    </div>
                    <div class="footer-category">
                        <span class="category-header">PRODUCTS</span>
                        <a href="https://stackoverflow.com/teams">Teams</a>
                        <a href="https://stackoverflow.com/advertising">Advertising</a>
                        <a href="https://stackoverflow.com/collectives">Collectives</a>
                        <a href="https://stackoverflow.com/talent">Talent</a>
                    </div>
                    <div class="footer-category">
                        <span class="category-header">COMPANY</span>
                        <a href="https://stackoverflow.com/company/about">About</a>
                        <a href="https://stackoverflow.com/company/press">Press</a>
                        <a href="https://stackoverflow.com/company/work-here">Work Here</a>
                        <a href="https://stackoverflow.com/legal">Legal</a>
                    </div>
                    <div class="footer-category">
                        <span class="category-header">STACK EXCHANGE NETWORK</span>
                        <a href="https://stackoverflow.com/legal/privacy-policy">Privacy Policy</a>
                        <a href="https://stackoverflow.com/legal/terms-of-service/public">Terms of Service</a>
                        <a href="https://stackoverflow.com/company/contact">Contact Us</a>
                        <a href="https://stackoverflow.com/legal/privacy-policy#cookie-settings">Cookie Settings</a>
                        <a href="https://stackoverflow.com/legal/cookie-policy">Cookie Policy</a>
                    </div>
                </div>
            </div>
            <div class="copyright">© 2024 Stack Exchange Inc; user contributions licensed under CC BY-SA. rev 2024.4.3.7257</div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/AdminLTE/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/AdminLTE/plugins/raphael/raphael.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>

    <script src="~/stackoverflow/stacks/dist/js/stacks.js" ></script>
    <script src="~/stackoverflow/stacks/dist/js/stacks.min.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/app.bundle.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/commands.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/editor.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/key-bindings.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/plugins/markdown-highlight.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/plugins/preview.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/plugins/text-copy-handler.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/plugins/triple-click-handler.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/commonmark/schema.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/index.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/commands/helpers.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/commands/index.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/commands/tables.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/editor.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/inputrules.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/key-bindings.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/node-views/code-block.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/node-views/html-block.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/node-views/image.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/node-views/tag-link.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/link-editor.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/html-helpers.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/link-paste-handler.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/link-preview.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/plain-text-paste-handler.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/spoiler-toggle.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/plugins/link-editor.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/rich-text/schema.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/editor-plugin.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/html-helpers.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/localization.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/logger.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/markdown-serializer.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/schema.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/utils.js"></script>

    <script src="~/stackoverflow/stacks-editor/dist/shared/view.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/case-normalize-keymap.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/code-paste-handler.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/interface-manager.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/placeholder.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/plugin-extensions.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/readonly.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/shared/prosemirror-plugins/selection-debug.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/stacks-editor/editor.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/app.bundle.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/index.js"></script>
    <script src="~/stackoverflow/stacks-editor/dist/styles.bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

