@model BookCreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="container">
    <partial name="_ResponsePartial" />
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info ">
                <div class="card-header">
                    <h3 class="card-title"> Create Book</h3>
                </div>
                <form asp-action="Create" asp-area="Admin" asp-controller="Book" asp-antiforgery="true">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title" ></label>
                            <input type="text" asp-for="Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PublishDate" >Publish Date</label>
                            <input type="text" asp-for="PublishDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorName" >Author Name</label>
                            <input type="text" asp-for="AuthorName" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

