@model BookListModel

@{
    ViewData["Title"] = "Index";
}


@section Styles
    {
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<div class="container">
    <partial name="_ResponsePartial" />
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info card-outline collapsed-card ">
                <div class="card-header" data-card-widget="collapse">
                    <h3 class="card-title"> <i class="fas fa-Search mr-1"></i>Search Books</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="SearchItem.Title">Title</label>
                                <input type="text" asp-for="SearchItem.Title" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="SearchItem.PublishDateFrom">Publish Date From</label>
                                <input type="text" asp-for="SearchItem.PublishDateFrom" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="SearchItem.PublishDateTo">Publish Date To</label>
                                <input type="text" asp-for="SearchItem.PublishDateTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="searchButton" type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info ">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-book-open mr-1"></i> Book</h3>
                </div>
                <div class="card-body">
                    <table id="books" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Publish Date</th>
                                <th>Author Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Publish Date</th>
                                <th>Author Name</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <partial name="_ModalPartial" />
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#books").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                ajax: {
                    url: "/Admin/Book/GetBooks",
                    type: "POST",
                    data: function (d) {
                        d.SearchItem = {
                            Title: $("#SearchItem_Title").val(),
                            PublishDateFrom: $("#SearchItem_PublishDateFrom").val() === "" ? null : $("#SearchItem_PublishDateFrom").val(),
                            PublishDateTo: $("#SearchItem_PublishDateTo").val() === "" ? null : $("#SearchItem_PublishDateTo").val()
                        };
                        //console.log(d.SearchItem);
                    },
                },
                columnDefs: [
                    {
                        orderable: false,
                        targets: 3,
                        render: function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/book/update/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ]
            });

            $('#books').on('click', '.show-bs-modal', function (event) {
                let id = $(this).data("id");
                let modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/book/delete");
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

            $("#searchButton").click(function () {
                $('#books').DataTable().ajax.reload(null, false);
            });
        });
    </script>
}
