html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    border-top: 6px solid orange;
    margin-top: 0px;
}

.navbar-brand {
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    border: none;
}

    .navbar-toggler:focus {
        outline: none;
    }

.menu-item {
    margin-right: 20px;
}

.logo-text {
    margin-left: 6px;
    text-decoration: none;
}

.logo-text:hover {
 text-decoration: none;
 color: black;

}



.border-after-navbar {
    border-top: 1px solid #dee2e6;
    margin-top: 0px;
}

.custom-search-input {
    border-radius: 12px;
    border: 1px solid #ced4da;
    padding: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-search-input:focus {
        border-color: #007bff;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}


.main-footer {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}

.main-footer a {
    color: lightgrey; /* Set text color to light grey */
    text-decoration: none; /* Remove underlines */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 120px; /* Adjust size as needed */
    height: auto;
}

.footer-links {
    display: flex;
}

.footer-category {
    margin-right: 40px;
}

.category-header {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.footer-category a {
    display: block;
    margin-bottom: 5px;
    color: #6a737c; /* Dark grey colour */
    text-decoration: none;
}

.footer-category a:hover {
    text-decoration: underline;
 }

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #6a737c;
}

.footer-logo a {
    display: flex;
    align-items: center; /* Align items vertically */
    color: lightgray; /* Ensure the link colour inherits from its parent */
    text-decoration: none; /* Remove underline */
}

.footer-logo img {
    width: auto; /* Allow the width to adjust based on the content */
    height: 5em; /* Set the height to match the font size of the text */
    margin-right: 10px; /* Add spacing between the logo and text */
}

.logo-textFooter {
    font-size: 30px; /* Adjust font size as needed */
}